.sportstack,
.sportstack-sport {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	transition: 1s linear;
}

.sportstack .item-header,
.sportstack-sport .item-header {
	background: #000;
	color: #FFFFFF;
}

.sportstack-sport .item-header {
	background: #FFCC00;
}


.sportstack .item-content {
	max-height: 0;
	overflow: hidden;

	-webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/* When open, set height to auto */
.sportstack .expanded > .item-content,
.sportstack-sport .expanded > .item-content {
	max-height:999px;
}
